<%- include('partials/header') -%>
<main>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br><br><br>
      
      <h1 class="header center blue-text"><img src="images/android-chrome-192x192.png" style="height:5.5vh;width:auto"  alt=""> Nothing to see here!</h1>
      <div class="row center">
        <!-- <h5 class="header col s12 light">A place to publish your thoughts. Type Away!</h5> -->
      </div>
      <div class="row center">
        <a href="/" id="download-button" class="btn-large waves-effect waves-light orange">Back to Home</a>
      </div>
      <br><br>

    </div>
  </div>


   <!-- <div class="container">
    <div class="section">

      <!--   Icon Section   
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">create</i></h2>
            <h5 class="center">Write Blogs</h5>

            <p class="light" style="text-align: center;">Write your own blogs! Share your thoughts with others!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Find like minded authors!</h5>

            <p class="light" style="text-align: center;">Browse through other authors' blogs to find people who share similar interests</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Modify your blogs!</h5>

            <p class="light" style="text-align: center;">"I change my mind as the facts change"<br>Edit your blogs as and when you like! </p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>  -->
  <br><br><br><br><br>
  
</main>
<%- include('partials/footer') -%>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
